
#btnSearch {
	-fx-background-radius: 10;
}



.Button {
	-fx-background-radius: 10;
}


.Button:hover {
    -fx-background-color: #FFC107;
    -fx-text-fill: BLACK;
  
}

.date-picker > .text-field {
	-fx-text-fill: white;
	-fx-alignment:center;

}
